[phases.setup]
nixPkgs = ["python311", "python311Packages.pip"]

[phases.install]
cmds = [
    "pip install --break-system-packages --upgrade pip",
    "pip install --break-system-packages -r requirements.txt"
]

[start]
cmd = "python3 -m gunicorn src.app:app --bind 0.0.0.0:$PORT"

